*{
    margin: 0;
    padding: 0;
    font-family: 'popins,sans-serif';
    box-sizing: border-box ;
}
body{
    background-color: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#a5fe00,#0e044e);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
}
.search{
    width:100% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
border: 0;
outline: 0;
background:#f6f6f6b8;
color: #555;
padding:10px;
height: 60px;
border-radius: 7px;
flex: 1;
margin-right: 16px;
font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #f6f6f6b8;
    border-radius: 10%;
    width:30px;
    height: 37px;
    cursor: pointer;
    
}
.loc{
    border: 0;
    outline: 0;
    background: #f6f6f6b8;
    border-radius: 10%;
    width:30px;
    height: 37px;
    cursor: pointer;
    margin-left: 20px;
}

.weatherr-icon{
    width: 170px;
    margin-top: 80px;

}
.temp{
    font-size: 80px;
    font-weight: 500;
}
.humidity{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;

}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: center;

}
.hum{
    width: 40px;
    margin-right: 10px;
}
.humidity,.wind{
    font-size: 28px;
    margin-top: -6px;
}
.head{
    font-size: 28px;
}

